---
import type { CollectionEntry } from "astro:content";

import CloudinaryImg from "../cloudinary/CloudinaryImg.astro";
import * as marked from "marked";
import CloudinaryVideo from "../cloudinary/CloudinaryVideo.astro";

type Props = CollectionEntry<"pages">["data"]["connectHero"];

const { background, inner_image, description, dates, child_page } =
  Astro.props!;

const markdown = description && (await marked.parse(description));
const currentPath = Astro.url.pathname;
---

{
  child_page ? (
    <div class="relative min-h-[400px] overflow-hidden border-b-[10px] border-b-[#ffce00] border-solid">
      <CloudinaryImg
        src={background}
        alt="Linaro Connect background"
        width={2800}
        height={400}
        class="absolute inset-0 w-full h-full object-cover my-0"
      />
      {inner_image && (
        <>
          <div class="absolute top-0 left-0 w-full h-full flex flex-col justify-center items-center text-center">
            <div class="flex flex-col items-center">
              <CloudinaryImg src={inner_image} alt="Linaro Connect Logo" />
            </div>
            <div class="flex gap-2 lg:gap-8 mx-auto lg:mb-8">
              {[
                { href: "/connect", label: "Connect Home" },
                { href: "/connect/registration", label: "Registration" },
                {
                  href: "/connect/call-for-proposals",
                  label: "Call for Proposals",
                },
                { href: "/connect/sponsorship", label: "Sponsorship" },
              ].map(({ href, label }) => (
                <a
                  href={href}
                  target="_self"
                  class={`no-underline inline-block text-sm lg:text-lg transition-all duration-200 ${
                    currentPath === href ? "text-linaro-yellow" : "text-white"
                  } hover:text-linaro-yellow hover:scale-105`}
                >
                  {label}
                </a>
              ))}
            </div>
          </div>
        </>
      )}
    </div>
  ) : (
    <div class="relative w-full h-[540px] lg:h-[500px] overflow-hidden border-b-[10px] border-b-[#ffce00] border-solid">
      <video
        autoplay
        muted
        loop
        class="absolute top-1/2 left-1/2 w-[100vw] h-auto -translate-x-1/2 -translate-y-1/2 min-h-full"
      >
        <source src={background} type="video/mp4" />
        Your browser does not support the video tag.
      </video>
      <div class="absolute top-0 left-0 w-full h-full flex flex-col justify-center items-center text-center bg-[rgba(0,_0,_0,_0.6)]">
        <div class="flex flex-col items-center">
          {inner_image && (
            <CloudinaryImg
              src={inner_image}
              alt="Linaro Connect Logo"
              width={200}
              height={200}
            />
          )}
          <h1 class="text-3xl m-0" set:html={markdown} />
          <h1 class="text-linaro-yellow text-3xl m-0">{dates}</h1>
        </div>
        <div class="flex gap-2 lg:gap-8 mx-auto">
          {[
            { href: "/connect", label: "Connect Home" },
            { href: "/connect/registration", label: "Registration" },
            {
              href: "/connect/call-for-proposals",
              label: "Call for Proposals",
            },
            { href: "/connect/sponsorship", label: "Sponsorship" },
          ].map(({ href, label }) => (
            <a
              href={href}
              target="_self"
              class={`no-underline inline-block text-sm lg:text-lg transition-all duration-200 ${
                currentPath === href ? "text-linaro-yellow" : "text-white"
              } hover:text-linaro-yellow hover:scale-105`}
            >
              {label}
            </a>
          ))}
        </div>
      </div>
    </div>
  )
}
