---
import type { cardsSchema } from "@/content/schemas/sections";
import { Icon } from "astro-icon/components";
import type { z } from "astro/zod";
type Props = z.infer<typeof cardsSchema>;
const { cards, styles } = Astro.props;
---

<ul class:list={["list-none flex flex-wrap p-0 ", styles?.container]}>
  {
    cards.map(({ icon, title, text, button }) => (
      <li class:list={[styles?.card]}>
        {icon && <Icon name={icon} size={100} class="my-0" />}
        <h3 class:list={["text-4xl my-5", styles?.cardTitle]}>{title}</h3>
        <p class="text-xl">{text}</p>
        {button && (
          <a href={button.url}>
            <button class={`linaro-gradient-button `}>{button.text}</button>
          </a>
        )}
      </li>
    ))
  }
</ul>
