---
import type { graphicSchema } from "@/content/schemas/sections";
import type { z } from "astro/zod";
import CloudinaryImg from "../cloudinary/CloudinaryImg.astro";

type Props = z.infer<typeof graphicSchema>;
const { src, alt, accessible_version, width, height, mobile, svg } = Astro.props;
---

<div>
  {
    mobile &&  <!-- Hidden on medium screens and larger, visible on small screens -->
  <CloudinaryImg
    src={mobile.src}
    alt={alt}
    svg={mobile.svg}
    width={mobile.width}
    height={mobile.height}
    class="lg:hidden"
  />
  }
 
  <!-- Visible on medium screens and larger, hidden on small screens -->
  <CloudinaryImg
    src={src}
    alt={alt}
    width={width}
    height={height}
    svg={svg}
    class:list={[mobile && "hidden lg:block"]}
  />
  <div set:html={accessible_version} class="sr-only" />
</div>
