---
import type { z } from "astro/zod";
import { teamSchema } from "@/content/schemas/sections";
import { getEntries } from "astro:content";
import MemberCard from "../common/MemberCard.astro";

type Props = z.infer<typeof teamSchema>;

const { members, title, id } = Astro.props;

const people = members ? await getEntries(members as any) : [];
---

{
  id === "speakers" ? (
    <div>
      {title && <h2 class="text-4xl text-white mb-16 text-center">{title}</h2>}
      <ul class="not-prose grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 justify-items-center">
        {people.map((x: any) => (
          <MemberCard
            id={x.id + Astro.props.id}
            id2={id}
            name={x.data.name}
            title={x.data.title}
            image={x.data.image}
            company={x.data.company}
            info={x.body}
          />
        ))}
      </ul>
    </div>
  ) : (
    <div class="w-full">
      {title && <h2 class="text-4xl text-white mb-16 text-center">{title}</h2>}
      <ul class="flex flex-wrap justify-center gap-2 mx-auto pl-0 w-full">
        {people.map((x: any) => {
          let displayTitle = x.data.title;
          if (id === "bod" || id === "exec") {
            displayTitle = displayTitle.replace(/\s+at Linaro$/i, "");
          }
          return (
            <MemberCard
              id={x.id + Astro.props.id}
              name={x.data.name}
              title={displayTitle}
              image={x.data.image}
              info={x.body}
            />
          );
        })}
      </ul>
    </div>
  )
}
