---
import type { z } from "astro/zod";
import type { teamSchema } from "@/content/schemas/sections";
import { getEntries } from "astro:content";
import MemberCard from "../common/MemberCard.astro";

type Props = z.infer<typeof teamSchema>;

const { members, title, id } = Astro.props;
const people = await getEntries(members);
---

{
  id === "speakers" ? (
    <div>
      {title && <h2 class="text-4xl text-white mb-16 text-center">{title}</h2>}
      <ul class="gap-4 justify-center flex flex-wrap">
        {people.map((x) => (
          <MemberCard
            id={x.slug + Astro.props.id}
            id2={id}
            name={x.data.name}
            title={x.data.title}
            image={x.data.image}
            company={x.data.company}
            info={x.body}
          />
        ))}
      </ul>
    </div>
  ) : (
    <div>
      {title && <h2 class="text-4xl text-white mb-16 text-center">{title}</h2>}
      <ul
        class="gap-2 justify-center flex flex-wrap"
        style="align-items: stretch; display: flex; justify-content: stretch"
      >
        {people.map((x) => (
          <MemberCard
            id={x.slug + Astro.props.id}
            name={x.data.name}
            title={x.data.title}
            image={x.data.image}
            info={x.body}
          />
        ))}
      </ul>
    </div>
  )
}
