---
import Cookies from "./Cookies.astro";
import GoogleAnalytics from "./GoogleAnalytics.astro";
import { SEO } from "astro-seo";
import "@fontsource/lato";
import "../../styles/global.scss";
import { getCldOgImageUrl } from 'astro-cloudinary/helpers';

const GA_ID = import.meta.env.GA_ID;

const { title = "", description = "", type = "website", image = "" } = Astro.props;

//const social_image = getCldOgImageUrl({ src: image });
const logoPublicId = 'linaro-website/graphics/infinito-cropped.svg';

const social_image = getCldOgImageUrl({
  src: image,
  effects: [
    {
      background: 'rgb:010A44'
    },
    {
      color: 'rgb:2A005F',
      colorize: '100'
    },
    {
      gradientFade: 'symmetric'
    }
  ],
  overlays: [
    {
      publicId: image,
      width: 1200,
      height: 630,
      crop: 'fill',
      effects: [
        { opacity: 20 }
      ]
    },
    
    {
      publicId: image,
      width: 1000,
      height: 2,
      effects: [{
        colorize: '100,co_white',
        opacity: 70
      }],
      position: {
        x: 100,
        y: 175,
        gravity: 'south_west'
      },
    },
    {
      width: 60,
      crop: 'fit',
      publicId: logoPublicId,
      position: {
        x: 100,
        y: 102,
        gravity: 'south_west'
      },
    },
    {
      text: {
        color: 'white',
        fontFamily: 'Lato',
        fontSize: 37,
        fontWeight: 'bold',
        text: "Linaro.org | Blog"
      },
      position: {
        x: 180,
        y: 100,
        gravity: 'south_west'
      },
    },
  ]
})

---

<head>
  <title>{title}</title>
  <meta property="description" content={description} />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta charset="utf-8" />

   <script type="text/javascript" src="//script.crazyegg.com/pages/scripts/0118/5929.js" async="async"></script>
   
  {typeof GA_ID != 'undefined' && GA_ID != "" ? (
    <Cookies />
    <GoogleAnalytics id={GA_ID} />
  ):(
    <!-- No GA ID -->
  )}
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000" />
  <link
  rel="alternate"
  type="application/rss+xml"
  title="Linaro.org"
  href={new URL("rss/news.xml", Astro.site)}
/>
<link
  rel="alternate"
  type="application/rss+xml"
  title="Linaro.org"
  href={new URL("rss/blog.xml", Astro.site)}
/>
<link
  rel="alternate"
  type="application/rss+xml"
  title="Linaro.org"
  href={new URL("feed.xml", Astro.site)}
/>
  <meta name="msapplication-TileColor" content="#da532c" />
  <meta name="theme-color" content="#ffffff" />
  <SEO
    title={title}
    description={description}
    openGraph={{
      basic: {
        title: title,
        type: type,
        image: social_image,
      },
    }}
    ,
    twitter={{
      title: title,
      description: description.slice(0, 196) + "...",
      card: "summary_large_image",
      image: social_image,
      creator: "@LinaroOrg",
    }}
    extend={{
      link: [
        {
          rel: "me",
          href: "https://mastodon.org.uk/@LinaroLtd@mastodon.social",
        },
      ],
      meta: [
        {
          name: "twitter:image",
          content: social_image,
        },
        {
          property: "og:image",
          content: social_image,
        },
        {
          property: "og:description",
          content: description,
        },
      ],
    }}
  />
  <link rel="stylesheet" href="https://use.typekit.net/job6bfm.css" />
</head>