---
const { modal_id, description } = Astro.props;
---

<style lang="scss">
  dialog {
    &::backdrop {
      position: fixed;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      background: rgba(0, 0, 0, 0.4);
    }
  }
</style>

<div>
  {
    modal_id.includes("speaker") ? (
      <button
        class="linaro-gradient-button"
        onclick={`window.${modal_id}.showModal()`}
      >
        Bio
      </button>
    ) : (
      <button
        style="margin-bottom: 1em;"
        class="linaro-gradient-button"
        onclick={`window.${modal_id}.showModal()`}
      >
        About
      </button>
    )
  }
</div>

<div class="relative w-full">
  <dialog
    data-contact-modal={modal_id}
    id={modal_id}
    class="bg-transparent rounded-xl mx-auto fixed top-0 md:top-[10%] right-0 left-0"
  >
    <div class="flex flex-col items-center max-w-max">
      <div
        class="bg-black lg:min-w-[40rem] max-w-xl rounded-3xl px-8 py-4 w-full text-white"
      >
        <p>{description}</p>
        <button
          class="text-white font-bold"
          onclick={`window.${modal_id}.close()`}>Close</button
        >
      </div>
    </div>
  </dialog>
</div>
