---
import { getCloudinarySrc } from "@/lib/cloudinary";
import BaseLayout from "./BaseLayout.astro";
import { getImage } from "astro:assets";
import { render } from "astro:content";
import type { CollectionEntry } from "astro:content";
import CareersArticleContent from "@/components/article/careers/CareersArticleContent.astro";
import dayjs from "dayjs";

type Props = {
  post: CollectionEntry<"careers">;
};

const { post } = Astro.props;
const {
  data: { title,description, date },
  body = "",
} = post;

const optimizedBackground = await getImage({
  src: getCloudinarySrc({
    src: "linaro-website/graphics/bg-logo-3",
    alt: "",
    width: 1724.55,
    height: 1182.9,
  }),
  format: "webp",
  width: 1724.55,
  height: 1182.9,
});
const { Content } = await render(post);
---

<BaseLayout title={title + " | Careers"} description={description}>
  <main class="z-0">
    <section
      class:list={[
        "relative hero-background-image pt-32 pb-16 container mx-auto max-w-5xl px-8 xl:px-0 z-[-1]",
      ]}
    >
      <h1 data-pagefind-meta="title" class="text-5xl font-bold mb-6 max-w-4xl">
        {title}
      </h1>
      <p class="mb-4" data-pagefind-ignore>
        <span
          data-pagefind-meta={`date:${date}`}
          data-pagefind-sort={`date:${new Date(date).getTime()}`}
          >Posted on {dayjs(date).format("dddd, MMMM D, YYYY")}</span
        >
      </p>

    </section>
    <div data-pagefind-body>
      <CareersArticleContent Content={Content} />
    </div>
  </main>
</BaseLayout>

<style
  define:vars={{ backgroundUrl: `url(${optimizedBackground.src})` }}
  lang="scss"
>
  .hero-background-image {
    background-image: var(--backgroundUrl);
    background-repeat: no-repeat;
    @apply bg-[top_left] lg:bg-[top_right_-50%] pb-[36rem] mb-[-36rem];
  }
</style>