---
import { getCloudinarySrc } from "@/lib/cloudinary";
import BaseLayout from "./BaseLayout.astro";
import { getImage, Image } from "astro:assets";
import { getEntry, getEntries, getCollection, render } from "astro:content";
import type { CollectionEntry } from "astro:content";
import dayjs from "dayjs";
import CloudinaryImg from "@/components/cloudinary/CloudinaryImg.astro";
import { remark } from "remark";
import stripMarkdown from "strip-markdown";
import ArticleContent from "@/components/article/ArticleContent.astro";
import BlogListing from "@/components/article/blog/BlogListing.astro";

type Props = {
  post: CollectionEntry<"news">;
};

const { post } = Astro.props;
const {
  collection,
  id,
  data: {
    title,
    author: authorRef,
    description,
    date,
    tags: tagList,
    image,
    related,
  },
  body = "",
} = post;

const { data: author } = (await getEntry(
  authorRef,
)) as CollectionEntry<"authors">;

const tags = await getEntries(tagList);

const readTime = `${Math.ceil(body.split(" ").length / 183)} min read`;

const optimizedBackground = await getImage({
  src: getCloudinarySrc({
    src: "linaro-website/graphics/purple-map",
    alt: "",
    width: 1724.55,
    height: 1182.9,
  }),
  format: "webp",
  inferSize: true,
});
const { Content, headings } = await render(post);

const summary =
  String(
    await remark()
      .use(stripMarkdown, {
        remove: ["heading"],
      })
      .process(body),
  )
    .split(" ")
    .slice(0, 30)
    .join(" ")
    .replace("\\", "") + "...";

let relatedPosts;
if (related.length > 0) {
  relatedPosts = await getEntries(related);
} else {
  relatedPosts = (
    await getCollection("news", ({ data, id: thisSlug }) => {
      return (
        (String(import.meta.env.IS_PREVIEW) === "true" ||
          Date.now() > new Date(data.date).getTime()) &&
        tags.some((tag) => data.tags.map((t: any) => t.id === tag.id)) &&
        thisSlug !== id
      );
    })
  )
    .sort((a, b) => dayjs(b.data.date).diff(a.data.date))
    .slice(0, 3);
}
---

<BaseLayout
  title={title + " | Newsroom"}
  description={description}
  image={image}
>
  <main
    data-pagefind-body
    data-pagefind-filter={`type:${collection}`}
    class="z-0"
  >
    <section
      class:list={[
        "relative hero-background-image pt-32 pb-16  container mx-auto max-w-5xl px-8 xl:px-0 z-[-1]",
      ]}
    >
      <h1 class="text-5xl font-bold mb-16 max-w-4xl">{title}</h1>
      <div class="flex items-center gap-6">
        {
          author.image && (
            <CloudinaryImg
              src={author.image}
              alt={author.name}
              width={75}
              height={75}
              class="aspect-square object-cover rounded-full my-4"
              data-pagefind-meta="author_image[src]"
            />
          )
        }
        <p class="text-2xl" data-pagefind-meta="author">
          {`${author.first_name} ${author.last_name}`}
        </p>
      </div>
      <p class="flex gap-4 flex-wrap" data-pagefind-ignore>
        <span
          data-pagefind-meta={`date:${date}`}
          data-pagefind-sort={`date:${new Date(date).getTime()}`}
          >{dayjs(date).format("dddd, MMMM D, YYYY")}</span
        ><span>|</span><span>{readTime}</span>
      </p>
      <ul class="flex flex-wrap gap-4 my-8">
        {
          tags.map((tag) => {
            const tagSlug = tag.data.slug_name || tag.id.replace(/\.mdx?$/, "");
            return (
              <li data-pagefind-filter={`tags:${tagSlug}`} data-pagefind-ignore>
                <a href={`/news?tags=${tagSlug}`}>
                  <button class="linaro-gradient-button">
                    {tag.data.name}
                  </button>
                </a>
              </li>
            );
          })
        }
      </ul>
      <span data-pagefind-meta="summary" class="hidden" data-pagefind-ignore
        >{summary}</span
      >
    </section>
    <ArticleContent Content={Content} image={image} />
  </main>
  <aside
    class="container mx-auto max-w-5xl px-8 xl:px-0 mb-24"
    data-pagefind-ignore
  >
    <h2 class="text-5xl text-linaro-yellow font-bold mb-16">Latest News</h2>
    <ul class="flex flex-wrap gap-8 justify-center">
      {relatedPosts?.map((post) => <BlogListing {...post} />)}
    </ul>
  </aside>
</BaseLayout>
<style define:vars={{ backgroundUrl: `url(${optimizedBackground.src})` }}>
  /* Ensure we can see global theme variables */
  @reference "../styles/global.css";

  .hero-background-image {
    background-image: var(--backgroundUrl);
    background-repeat: no-repeat;

    /* Base Styles (Mobile) */
    @apply bg-center bg-[position:top_left] pb-144 -mb-144;

    /* Desktop Styles (replaces lg:bg-[...]) */
    @media (min-width: theme(--breakpoint-lg)) {
      @apply bg-position-[top_right_-50%];
    }
  }
</style>
