---
import { DropdownItems } from "astro-navbar";
const { title, lastItem, children } = Astro.props;
---

<li class="border-b-2">
  <menu
    class:list={["astronav-dropdown group"]}
    aria-expanded="false"
    data-nav-group={title}
  >
    <div class="duration-300">
      <button
        class:list={[
          "flex items-center gap-1 w-full lg:w-auto lg:px-3 py-2 xl:py-3 hover:linaro-gradient-text nav-inactive",
        ]}
      >
        <span>{title}</span>
      </button>
    </div>
    <DropdownItems class="block">
      <div
        class:list={[
          "lg:absolute w-full z-10 mt-1",
          lastItem
            ? "lg:right-0 origin-top-right"
            : "lg:left-0 origin-top-left",
        ]}
      >
        <div class="flex flex-col lg:flex-row">
          {
            children.map((item: any) => (
              <a
                href={item.url}
                class=" px-3 py-1 text-grey  hover:text-white "
                target={item.url.startsWith("https") ? "_blank" : "_self"}
              >
                {item.label}
              </a>
            ))
          }
        </div>
      </div>
    </DropdownItems>
    <!-- <menu
      role="menu"
      data-nav-children={title}
      class:list={["hidden lg:hidden mt-2 absolute"]}
    >
      {
        children.map((child: any) => (
          <a
            href={child.url}
            class:list={[
              "lg:px-3 py-2 text-grey  hover:text-linaro-yellow cursor-pointer whitespace-nowrap text-sm",
            ]}
            target={child.url.startsWith("https") ? "_blank" : "_self"}
          >
            {child.label}
          </a>
        ))
      }
    </menu> -->
  </menu>
</li>
