---
const { item } = Astro.props;
---

<button class="hover:linaro-gradient-text">{item.label}</button>
<menu
  class:list={[
    "astronav-dropdown dropdown-toggle",
    "hidden absolute top-full mt-4",
  ]}
>
  <div class="flex gap-8">
    {
      item.children?.map((item: any) =>
        item?.items ? (
          <div class="flex flex-col gap-2">
            <p class="text-white text-md">{item.label}</p>
            <ul>
              {item.items.map((subItem: any) => (
                <li>
                  <a
                    class="py-2 text-grey hover:text-linaro-yellow cursor-pointer text-sm"
                    href={subItem.url}
                  >
                    {subItem.label}
                  </a>
                </li>
              ))}
            </ul>
          </div>
        ) : (
          <a
            href={item.url}
            class="text-white hover:text-linaro-yellow cursor-pointer whitespace-nowrap text-sm"
            target={item?.url?.startsWith("https") ? "_blank" : "_self"}
          >
            {item.label}
          </a>
        ),
      )
    }
  </div>
</menu>
<!-- <ul class="absolute top-full mt-2 h-8 bg-white w-8" id="menu-dropdown"></ul> -->
