---
import NewDropdown from "./NewDropdown";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
import { getEntry } from "astro:content";
import CloudinaryImg from "../cloudinary/CloudinaryImg.astro";
import SearchModal from "../search/NavSearch/SearchModal.astro";
import { Icon } from "astro-icon/components";

const navData = await getEntry("data", "nav");

// console.log(JSON.stringify(navData, null, 2));
let isMenuOpen = false;

function toggleMenu() {
  isMenuOpen = !isMenuOpen;
}
---

<header
  class="w-full relative fade-border-bottom bg-background z-50"
  id="top-nav"
>
  <nav>
    <div
      class="flex flex-col lg:flex-row max-w-7xl xl:container lg:items-center mx-auto px-8 my-3 lg:mt-4 lg:text-sm xl:text-[1rem] py-4"
    >
      <div>
        <a href="/" class="text-xl"
          ><CloudinaryImg
            src={"linaro-website/graphics/logo"}
            alt="Linaro Logo"
            class="h-auto w-[125px] xl:w-[200px] mt-[-2px] ml-[-10px]"
            width={500}
            height={500}
          />
        </a>
        <!-- <button
          type="button"
          class="block lg:hidden pr-8"
          onclick={toggleMenu()}
          aria-label="Toggle menu"
        >
          {
            isMenuOpen ? (
              <Icon name="close" class="w-6 h-6 text-white" />
            ) : (
              <Icon name="menu" class="w-6 h-6 text-white" />
            )
          }
        </button> -->
      </div>
      <ul
        class="flex flex-col lg:flex-row w-full items-start lg:items-center gap-6 max-w-2xl lg:max-w-full my-8 lg:my-0"
      >
        {
          navData.data.map((item: any) =>
            item.children ? (
              <NewDropdown item={item} client:only="solid" />
            ) : (
              <li class="" aria-label={item.label}>
                <div class="transition">
                  <a
                    data-nav-group={item.label}
                    href={item.url}
                    class:list={[
                      "flex lg:px-3 py-2 xl:py-3 text-inherit hover:linaro-gradient-text whitespace-nowrap",
                    ]}
                    target={item.url.startsWith("https") ? "_blank" : "_self"}
                  >
                    {item.label}
                  </a>
                </div>
              </li>
            ),
          )
        }
        <li class="ml-0 lg:ml-2 xl:ml-8 mt-[2px]">
          <a href="/contact">
            <div class="linaro-gradient-button-small min-w-[115px]">
              Contact us
            </div>
          </a>
        </li>
        <li class="grow mt-4 lg:mt-0">
          <SearchModal id="nav-search" />
        </li>
      </ul>
    </div>
  </nav>
</header>
<script></script>
