---
const { form_id, formName, description, modal_id, styles } = Astro.props;

const inputFields = [
  {
    name: "customfield_13155",
    label: "First Name",
    type: "text",
  },
  { name: "customfield_13156", label: "Last Name", type: "text" },
  { name: "email", label: "Email", type: "email" },
  { name: "customfield_13368", label: "Company Name", type: "text" },
  { name: "telephone_number", label: "Telephone Number", type: "tel" },
];
---

<div
  class={styles?.form
    ? styles.form
    : ["bg-black lg:min-w-[40rem] max-w-xl rounded-3xl px-8 py-4 w-full"]}
>
  <form
    class="flex flex-col items-start gap-8"
    id="contact-form"
    data-contact-form={form_id}
    method={modal_id ? "modal" : "get"}
  >
    {
      description && (
        <p
          class={
            styles?.description
              ? styles.description
              : "text-3xl text-white my-2 font-bold"
          }
          set:html={description}
        />
      )
    }
    <input type="hidden" name="form_id" value={form_id} />
    <input type="hidden" name="formName" value={formName} />
    {
      inputFields.map(({ name, label, type }) => (
        <>
          <label for={name} class="sr-only">
            {label}
          </label>
          <input
            type={type as any}
            name={name}
            required
            placeholder={label}
            class="text-black pl-2 h-12 w-full"
          />
        </>
      ))
    }
    <textarea
      name="customfield_13365"
      required
      placeholder="How can Linaro help you?"
      class="text-black pl-2 h-12 w-full h-24"></textarea>
    <slot />
    <div id="friendly-captcha-widget" class="frc-captcha"></div>
    <div>
      <input
        type="checkbox"
        name="agreed"
        id={modal_id ? `agreed-${modal_id}` : "agreed"}
        class="mr-2"
        required
      />
      <label for={modal_id ? `agreed-${modal_id}` : "agreed"} class="text-white"
        >I’ve read and agreed to Linaro’s <a
          href="/legal#privacy"
          class="text-white">Privacy Policy</a
        ></label
      >
    </div>
    <div class="flex gap-8">
      <button type="submit" class="linaro-gradient-button" id="contact-submit"
        >Submit</button
      >

      <button
        type="button"
        class="linaro-gradient-button flex justify-start items-center gap-2 hidden"
        id="contact-submitting"
      >
        <svg
          aria-hidden="true"
          class="w-4 h-4 text-gray-200 animate-spin fill-white"
          viewBox="0 0 100 101"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
            fill="currentColor"></path>
          <path
            d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
            fill="currentFill"></path>
        </svg>
        Submitting</button
      >
      {
        modal_id && (
          <button
            class="text-white font-bold"
            onclick={`window.${modal_id}.close()`}
          >
            Close
          </button>
        )
      }
    </div>
  </form>
  <div id="contact-feedback" class="hidden">
    <p id="contact-feedback-text" class="text-white"></p>
    {
      modal_id && (
        <button
          class="text-white font-bold"
          onclick={`window.${modal_id}.close()`}
        >
          Close
        </button>
      )
    }
  </div>
</div>
