---
import ContactForm from "./ContactForm.astro";
import ServicesFormFields from "./ServicesFormFields.astro";

const { modal_id, form_id, button_text, description } = Astro.props;
---

<style lang="scss">
  dialog {
    &::backdrop {
      position: fixed;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      background: rgba(0, 0, 0, 0.4);
    }
  }
</style>

<button
  class="linaro-gradient-button"
  onclick={`window.${modal_id}.showModal()`}>{button_text}</button
>
<div class="relative w-full">
  <dialog
    data-contact-modal={modal_id}
    id={modal_id}
    class="bg-transparent rounded-xl mx-auto fixed top-0 md:top-[10%] right-0 left-0"
  >
    <div class="flex flex-col items-center max-w-max">
      <ContactForm
        form_id={form_id}
        description={description}
        modal_id={modal_id}
      >
        {
          () => {
            if (modal_id === "services") {
              return <ServicesFormFields />;
            }
          }
        }
      </ContactForm>
    </div>
  </dialog>
</div>
